.flex{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    align-items: center;
}
.flex-box{
    width: 100%;
}
.ant-btn-icon{
    padding-top: -2px !important;
}